.card {
  background: white;
  padding: 14px;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.card img {
  width: 48px;
  border-radius: 50%;
}
